tr 
	td
		a(href="/user/#{bonus.promoter._id}") #{bonus.promoter.username}
	td $ #{bonus.amount}
	td #{bonus.created.getDate()} / #{bonus.created.getMonth()+1} / #{bonus.created.getFullYear()}
	td.col-md-3 
		-if(typeof bonus !== "undefined")
			.glyphicon.glyphicon-eye-open
			a(href="/bonus/#{bonus._id}")  Ver