
extends ../layout

block content
	.col-md-8
		h3 Editar comercio: #{store.name}
		.glyphicon.glyphicon-arrow-left
		a(href="/stores/review/#{store._id}")  Volver al comercio
		br
		br
		br
		form(method="post", action="/stores/update").form-horizontal
			input(name="store_id", type="hidden", value="#{store._id}")
			.form-group
				label.control-label.col-md-4 Nombre:
				.col-md-8
					input(name="store[name]", type="text" , value="#{store.name}").form-control.input-sm.required
			.form-group
				label.control-label.col-md-4 Email:
				.col-md-8
					input(name="store[email]", type="text", value="#{store.email}").form-control.input-sm.required
			.form-group
				label.control-label.col-md-4 Pais:
				.col-md-8
					input(type='text', value='#{franchisor.country.name}' disabled).form-control.input-sm
			.form-group
				label.control-label.col-md-4 Franquiciante:
				.col-md-8
					input(type='text', value='#{franchisor.name}' disabled).form-control.input-sm
					
			.form-group
				label.control-label.col-md-4 Sobre el comercio:
				.col-md-8
					input(name="store[about]", type="text" , value="#{store.about}").form-control.input-sm.required
			.form-group
				.col-sm-offset-4.col-sm-8
					button(type="submit" id="submit_btn").btn.btn-primary Guardar