// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.col-md-8
		h3 Datos del comercio	
		.glyphicon.glyphicon-th-list
		a(href="/stores")  Lista de comercio
		br
		br
		a(href="/stores/edit/" + '#{store._id}' ).btn.btn-default 
			span.glyphicon.glyphicon-pencil
		a(href="/stores/assign_partner/" + '#{store._id}' ).btn.btn-default Seleccionar Usuario
		a(data-toggle="modal", href="#myModal").btn.btn-default  Comisiones
		a(href="/stores/remove/#{store._id}").btn.btn-danger  Eliminar 				
		br
		br
		table.table.table-condensed
			tr
				td
					label Nombre:
				td #{store.name}
			tr
				td
					label Sobre el negocio:
				td #{store.about}
			tr
				td
					label Email:
				td #{store.email}
		#myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-header
				button(class="close", data-dismiss="modal", aria-hidden="true") &times
				h4 Comisiones
			.modal-body
		br
		h3  Agregar Imagen
		-var route_name = "stores"
		-var get_id = store._id
		include ../includes/image_upload
		-for (var i = store.images.length - 1; i >= 0; i--)
			-var image = store.images[i]
			-var param ="stores"
			include ../partials/store/image_list
		br
		h3 Sucursales
		.glyphicon.glyphicon-plus
		a(href="/stores/#{store._id}/branches/create")   Cargar sucursal
		br
		br
		-each branch in store.branches
			a(href="/stores/#{store._id}/branches/#{branch._id}") #{branch.name}
			br


