// my-template.jade
extends ../layout

block content
	.nav.nav-tabs
		li.active
			a(href="#review", data-toggle="tab") Información
		-if(RolesHelper.isPartner(expose.user._id, deal.store)) //Partner	
			li
				a(href="#coupons", data-toggle="tab") Cupones
	.tab-content
		.tab-pane(id="review").active
			h2 Oferta: #{deal.title}
			.glyphicon.glyphicon-eye-open 
			a(href='/deals/#{deal._id}' target="blank")  Vista Previa
			br
			.icon.glyphicon.glyphicon-pencil
			a(href='/deals/edit/#{deal._id}')  Editar

			br
			.glyphicon.glyphicon-remove
			a(href='/deals/remove/#{deal._id}').text-danger  Eliminar
			h3 Datos generales

			table.table.table-condensed
				tr
					td 
						strong Estado:
					td #{deal.status}
				tr
					td 
						strong Titulo:
					td #{deal.title}
				tr
					td 
						strong Subtitulo:
					td #{deal.tagline}
				tr
					td 
						strong Link:
					td #{deal.slug}
				tr
					td 
						strong Caracteristicas:
					td #{deal.characteristics}
				tr
					td 
						strong Condiciones:
					td #{deal.conditions}

			br
			.col-md-6
				h3 Precios

				table.table.table-condensed
					tr
						td 
							strong Precio original:
						td $ #{deal.price} 
					tr
						td 
							strong Precio Final:
						td $ #{deal.special_price} 
					tr
						td
							strong Descuento:
						td $ #{deal.discount} 

				br
			.col-md-6
				h3 Fechas

				table.table.table-condensed
					tr
						td 
							strong Inicio de la oferta:
						td=util.date_time_string(deal.start_date)
					tr
						td
							strong Fin de la oferta:
						td=util.date_time_string(deal.end_date)
					tr
						td 
							strong Inicio de canje:
						td=util.date_time_string(deal.start_redeem)
					tr
						td
							strong Fin de canje:
						td=util.date_time_string(deal.end_redeem)

				br
			.col-md-6
				h3 Cantidad de cupones

				table.table.table-condensed
					tr
						td 
							strong Cantidad maxima:
						td #{deal.max_coupons}
					tr
						td 
							strong Maxima por usuario:
						td #{deal.max_coupons_by_user} 

				br
			.col-md-6
				h3 Porcentajes

				table.table.table-condensed
					tr
						td
							strong Vendedor:
						td #{deal.seller_percentage}%
					tr
						td 
							strong Giombu:
						td #{deal.giombu_percentage}%
					tr
						td
							strong Promotor:
						td #{deal.promoter_percentage}%

				br
			.col-md-6
				h3 Imagenes
				-var route_name = "deals"
				-var get_id = deal._id
				include ../includes/image_upload

				-for (var i = deal.images.length - 1; i >= 0; i--)
					-var image = deal.images[i]
					-var param ="deals"
					include ../partials/deals/image_list
			.col-md-6
				h3 Otras

				table.table.table-condensed
					tr
						td 
							strong Costo de Envío:
						td #{deal.shipping_cost} $
					tr
						td 
							strong Tienda:
						td #{deal.store.name} 
					tr
						td 
							strong Vendedor:
						td
							=deal.seller.name + ' ' + deal.seller.lname
					tr
						td 
							strong Franquiciante:
						td #{deal.franchisor}
				br
		-if(deal.partner === expose.user._id) //Partner	
			.tab-pane(id="coupons")
				h3 Cupones
				-each sale in deal.sales
					-each coupon in sale.coupons
						include ../partials/coupons/view