// my-template.jade
extends ../layout

//Bloques de contenido.
block content
	h3 Mis Contactos
	br 
	br
	div.well
		h3 Nivel #{expose.user.level.name}	
		h4 Próximo nivel
		div.progress
			div(class="progress-bar progress-bar-striped active", role="progressbar", aria-valuenow="#{sons.length}", aria-valuemin="#{min_level.number*10-10}", aria-valuemax="#{expose.user.level.number*10-10}",style="width: #{(sons.length-(min_level.number*10-10))*10}%")
		h4 Nivel máximo
		div.progress
			div(class="progress-bar progress-bar-striped active", role="progressbar", aria-valuenow="#{sons.length}", aria-valuemin="0", aria-valuemax="100",style="width: #{sons.length}%")
	-if(sons.length > 0)
		-each promoter in sons
			include ../partials/users/promoter_thumbnail